#tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-panel { 
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}

/*
Author : Onextrapixel
URL: http://www.onextrapixel.com
*/
 * {
    border:none;
    margin:0;
    padding:0;
}
body {
    color: #000;
    font:12.35px"Lucida Grande", Arial, Georgia, Verdana, sans-serif;
}
a:link {
    color:#0054a6;
    text-decoration:none;
}
p {
    margin:10px 0;
}
h1 {
    font-size:20px;
    margin-bottom:20px;
}
h2 {
    font-size:14px;
    margin-bottom:15px;
}
#wrap {
    margin:0 auto;
    width:900px;
}
#header {
    margin:20px 0;
}
input {
    border: 1px solid #B6C3C3;
    background:#FDF8ED;
    padding:2px;
}
input[type="number"] {
    width: 50px;
}
input[type="file"] {
    width: 200px;
}
input[type="text"] {
    width: 200px;
}
fieldset {
    margin-bottom:40px;
}
legend {
    font-size:15px;
    font-weight:bold;
}
.formset {
    margin:25px 0;
}
.formset li {
    list-style:none;
    margin-bottom: 10px;
}
.formset li label {
    float:left;
    width:150px;
}

.submitbtn {
    background:#f9f0d6;
    border:3px solid #c7b093;
    padding:3px;
    text-transform:uppercase;
    color:#2d1904;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    cursor:pointer;
}
* {
    border:none;
    margin:0;
    padding:0;
}

#head {
    height:190px;
}
#head h1 {
    margin:17px 0 22px 0;
    height:51px;
}
#head .demoads {
    padding-top:20px;
    width:728px;
    height:90px;
}
html				{height:100%}
body				{height:100%; overflow-x:hidden}

#page_wrap			{ width:100%; height:100%; padding:1px;}
#right_panel {width:50%;float:right; }
#google_map				{ width: 50%; height: 100%; float:left; }
 .labels {
     color: blue;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 12px;
     font-weight: bold;
     text-align: center;
     width: 25px;
     border: 1px solid black;
     white-space: nowrap;
   }
