$def with ()
<head>
<script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
<script type="text/javascript" src="static/questFormControl.js"></script>
<script type="text/javascript" src="static/menuControl.js"></script>
<script type="text/javascript" src="static/dragQuest.js"></script>
<script type="text/javascript" src="static/cleanForms.js"></script>
<script type="text/javascript" src="static/ajaxFormHandle.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/start/jquery-ui.css"/>
</head>

<body>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Choose Component</a></li>
            <li><a href="#tabs-2">Form</a></li>
            <li><a href="#tabs-3">Scenario Generation</a></li>
        </ul>
        <div id="tabs-1">
            <img src="static/icons/questIcon.png" id="questIconId">
            <img src="static/icons/infoIcon.png" id="infoIconId">
        </div>
        <div id="tabs-2">
            <div id ="accordion">
                <h3>Quest Form</h3>
                <div>
                    <form class="questForm" method="post">
                        <fieldset>
                            <ol class="formset">
                                <li>
                                    <label for="id">id</label>
                                    <input type="number" id="id" name="id"/>
                                </li>
                                <li>
                                    <label for="command">command</label>
                                    <input type="text" id="command" name="command" />
                                </li>
                                <li>
                                    <label for="description">description</label>
                                    <input type="text" id="description" name="description" />
                                </li>
                                <li>
                                    <label for="latitude">latitude</label>
                                    <input type="text" id="latitude" name="latitude" />
                                </li>
                                <li>
                                    <label for="longitude">longitude</label>
                                    <input type="text" id="longitude" name="longitude" />
                                </li>
                                <li>
                                    <label for="image">image</label>
                                    <input type="file" id="image" name="image"/>
                                </li>
                                <li>
                                    <label for="icon">icon</label>
                                    <input type="file" id="icon" name="icon"/>
                                </li>
                                <li>
                                    <label for="tasks_location">tasks location?</label>
                                    <input type="radio" name="tasks_location" value="Yes" class="is_tasks_location" />Yes
                                    <input type="radio" name="tasks_location" value="No" class="is_tasks_location" />No
                                    <ol id="tasks_location_parent" class="formset">
                                        <li><strong>Task location:</strong></li>
                                        <li>
                                            <img src="static/icons/taskIcon.png" id="taskIconId">
                                        </li>
                                        <li>
                                            <label for="location_latitude">latitude</label>
                                            <input type="text" id="location_latitude" name="location_latitude" />
                                        </li>
                                        <li>
                                            <label for="location_longitude">longitude</label>
                                            <input type="text" id="location_longitude" name="location_longitude" />
                                        </li>
                                        <li>
                                            <label for="location_radius">radius</label>
                                            <input type="text" id="location_radius" name="location_radius" />
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <label for="tasks_text">tasks text?</label>
                                    <input type="radio" name="tasks_text" value="Yes" class="is_tasks_text" />Yes
                                    <input type="radio" name="tasks_text" value="No" class="is_tasks_text" />No
                                    <ol id="tasks_text_parent" class="formset">
                                        <li><strong>Task text:</strong>
                                        </li>
                                        <li>
                                            <label for="text_question">question</label>
                                            <input type="text" id="text_question" name="text_question" />
                                        </li>
                                        <li>
                                            <label for="text_answer">answer</label>
                                            <input type="text" id="text_answer" name="text_answer" />
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <label for="tasks_choice">tasks choice?</label>
                                    <input type="radio" name="tasks_choice" value="Yes" class="is_tasks_choice" />Yes
                                    <input type="radio" name="tasks_choice" value="No" class="is_tasks_choice" />No
                                    <ol id="tasks_choice_parent" class="formset">
                                        <li><strong>Task choice:</strong>
                                        </li>
                                        <li>
                                            <label for="choice_question">question</label>
                                            <input type="text" id="choice_question" name="choice_question" />
                                        </li>
                                        <li>
                                            <label for="choice_answer1">answer1/s_code_1</label>
                                            <input type="text" id="choice_answer1" name="choice_answer1" />
                                            <input type="number" id="choice_succsess_code_1" name="choice_succsess_code_1"/>
                                        </li>
                                        <li>
                                            <label for="choice_answer2">answer2/s_code_2</label>
                                            <input type="text" id="choice_answer2" name="choice_answer2" />
                                            <input type="number" id="choice_succsess_code_2" name="choice_succsess_code_2"/>
                                        </li>
                                        <li>
                                            <label for="choice_answer3">answer3/s_code_3</label>
                                            <input type="text" id="choice_answer3" name="choice_answer3" />
                                            <input type="number" id="choice_succsess_code_3" name="choice_succsess_code_3"/>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <label for="hints">tasks hints?</label>
                                    <input type="radio" name="hints" value="Yes" class="is_hints" />Yes
                                    <input type="radio" name="hints" value="No" class="is_hints" />No
                                    <ol id="hints_parent" class="formset">
                                        <li><strong>Task hints:</strong>
                                        </li>
                                        <li>
                                            <label for="hints_text">hints text / cost</label>
                                            <input type="text" id="hints_text" name="hints_text" />
                                            <input type="number" id="hints_text_cost" name="hints_text_cost"/>
                                        </li>
                                        <li>
                                            <label for="hints_image">hints image / cost</label>
                                            <input type="file" id="hints_image" name="hints_image"/>
                                            <input type="number" id="hints_image_cost" name="hints_image_cost"/>
                                        </li>
                                        <li>
                                            <label for="hints_sound">hints sound / cost</label>
                                            <input type="file" id="hints_sound" name="hints_sound"/>
                                            <input type="number" id="hints_sound_cost" name="hints_sound_cost"/>
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                            <input class="button" type="submit" value="Add component"/>
                        </fieldset>
                    </form>
                </div>
                <h3>Information Form</h3>
                <div></div>
            </div>
        </div>
        <div id="tabs-3">
        	<form action="/generateScenario">
    				<input class="scenarioButton" type="submit" value="Generate XML!">
				</form>
        </div>
    </div>
</body>
