$def with (page)
<html>
<head>
<title>Scenario Editor</title>

<link rel="stylesheet" href="static/style/style.css" />
<script
	src="https://maps.googleapis.com/maps/api/js?3.12&sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.5/src/markerwithlabel_packed.js"></script>
<script>
         var myCenter = new google.maps.LatLng(52.21927287, 21.01122236);
         
         <!-- initialize -->
         var map;
         var overlay;
         function initialize()
         {
           var mapProp = {
             center:myCenter ,
             zoom:16,
             mapTypeId: google.maps.MapTypeId.ROADMAP
           };
           map = new google.maps.Map(document.getElementById("google-map"),mapProp);
           overlay = new google.maps.OverlayView();
           overlay.draw = function() {};
           overlay.setMap(map);
         
         var marker = new google.maps.Marker({
         position:myCenter,
         animation:google.maps.Animation.BOUNCE
         });
         marker.setMap(map);
         
         var weiti = new google.maps.Circle({
         center:myCenter,
         radius:100,
         strokeColor:"#0000FF",
         strokeOpacity:0.8,
         strokeWeight:2,
         fillColor:"#0000FF",
         fillOpacity:0.4,
         map: map,
         });
         
         
         
         
         google.maps.event.addListener(marker, 'click', function(){
         var infoWindow = new google.maps.InfoWindow();
         infoWindow.setContent("<p>WEITI<br />" + "Lat = " + myCenter.lat() + "<br />" + "Lng = " + myCenter.lng() + "<br />" + "Radius = " + weiti.radius + "<br/>" + "Kliknij na mape by dodac nowy taskMarker " + "<br />" + "Nastepnie kliknij na taskMarker PP myszy" + "<br />" + "Usuwanie markera double click" + "</p>");
         infoWindow.open(map,marker);
         });
       
         
         }
         <!-- initialize -->
         
         <!-- placeQuestMarker -->
         var componentCounter = -1;
         function placeQuestMarker(location){
        
         var questImage = 'static/icons/questIcon.png';
         componentCounter++;
         document.getElementById("id").value = componentCounter;
         var questMarker = new MarkerWithLabel({
   
         position: location,
         map: map,
         draggable: true,
         icon: questImage,
         labelContent: componentCounter.toString(),
         labelClass: "labels",
         labelAnchor: new google.maps.Point(14, -5),
         });
         document.getElementById("latitude").value = questMarker.position.lat();
         document.getElementById("longitude").value = questMarker.position.lng();
                  
         google.maps.event.addListener(questMarker, 'rightclick', function(event) {
         var lat = event.latLng.lat();
         var lng = event.latLng.lng();
         
         var infoWindow = new google.maps.InfoWindow();
         infoWindow.setContent("<p>Lat = " + lat + "<br />" + "Lng = " + lng + "</p>")
         infoWindow.open(map,questMarker)
         
         });
         google.maps.event.addListener(questMarker, 'dblclick', function() {
        	 componentCounter--;
        	 questMarker.setMap(null);
        	 document.getElementById("latitude").value = null;
             document.getElementById("longitude").value = null;; 
         });
         google.maps.event.addListener(questMarker, 'drag', function(event) {
             document.getElementById("latitude").value = event.latLng.lat();
             document.getElementById("longitude").value = event.latLng.lng(); 
         });
         
         
         
         }
         
         <!-- placeQuestMarker -->
         
         <!-- placeTaskMarker -->
         function placeTaskMarker(location){
             var taskImage = 'static/icons/taskIcon.png';
             var taskMarker = new MarkerWithLabel({
             position:location,
             map: map,
             draggable:true,
             icon: taskImage,
             labelContent: componentCounter.toString(),
             labelClass: "labels",
             labelAnchor: new google.maps.Point(14, -5),
             });
             var taskPosition = taskMarker.position;
             
             
             
             var taskCircle = new google.maps.Circle({
                 center: taskPosition,
                 radius:0,
                 strokeColor:"#0000FF",
                 strokeOpacity:0.8,
                 strokeWeight:2,
                 fillColor:"#0000FF",
                 fillOpacity:0.4,
                 map: map,
                 });
                 
             taskCircle.bindTo('center', taskMarker, 'position');
             
             google.maps.event.addDomListener(
            		   document.getElementById('tasks_radius'), 'change', function() {
            			   taskCircle.setRadius(parseInt(document.getElementById('tasks_radius').value))
            		   });
                 
             document.getElementById("tasks_latitude").value = taskMarker.position.lat();
             document.getElementById("tasks_longitude").value = taskMarker.position.lng();
             
             google.maps.event.addListener(taskMarker, 'dblclick', function() {
            	 taskMarker.setMap(null)
            	 taskCircle.setMap(null)
            	 document.getElementById("tasks_latitude").value = null;
            	 document.getElementById("tasks_longitude").value = null; 
             });
             google.maps.event.addListener(taskMarker, 'drag', function(event) {
                 document.getElementById("tasks_latitude").value = event.latLng.lat();
                 document.getElementById("tasks_longitude").value = event.latLng.lng(); 
                
             });
             }
         <!-- placeTaskMarker -->
         
         <!-- placeInfoMarker -->
         
         function placeInfoMarker(location){
        	 var infoImage = 'static/icons/infoIcon.png';
        	 componentCounter++;
             var infoMarker = new MarkerWithLabel({
       
             position: location,
             map: map,
             draggable: true,
             icon: infoImage,
             labelContent: componentCounter.toString(),
             labelClass: "labels",
             labelAnchor: new google.maps.Point(14, -5),
             });
             
             google.maps.event.addListener(infoMarker, 'dblclick', function() {
            	 componentCounter--;
            	 infoMarker.setMap(null);
            	
             });
         }
        	 
         
         
         google.maps.event.addDomListener(window, 'load', initialize);
         
         
      </script>
</head>
<body>
	<div id="page-wrap">
        <div id="google-map"></div>
        <div id="right-panel">$:page</div>
        <span id="result">OUT</span>
</div>


</body>
</html>