$def with (var)
<head>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
<script type="text/javascript" src="static/questFormControl.js"></script>
<script type="text/javascript" src="static/organictabs.jquery.js"></script>
<script type="text/javascript" src="static/organic.js"></script>
<script type="text/javascript" src="static/dragQuest.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>


</head>

<body>


<div id="page-wrap">

		<p>Są taby! Choose Component - drag&drop questa! Kliknij prawym by utworzyc task location. Bug z rozwijaniem formularza</p>
		
        <div id="example-one">
        			
        	<ul class="nav">
        	      <li class="nav-one"><a href="#chooseComponentTab" class="current">Choose Component</a></li>
                <li class="nav-two"><a href="#formTab" id="#formTabId">Form</a></li>
                <li class="nav-three"><a href="#jquerytuts">jQuery</a></li>
                <li class="nav-four last"><a href="#classics">Classics</a></li>
            </ul>
        	
        	<div class="list-wrap">
        	<ul id="chooseComponentTab" class="1">
                    <img src="/static/questIcon.gif" id="questIconId">
        		 </ul>
        		<ul id="formTab" class="hide">
        			<form name="main" method="post">
<h2>$var</h2>

<fieldset>
    <ol class="formset">
        <li>
            <label for="id">id</label>
            <input type="number" id="id" name="id" style="width: 50px;"/>
        </li>
        <li>
            <label for="command">command</label>
            <input type="text" id="command" name="command" />
        </li>
        <li>
            <label for="description">description</label>
            <input type="text" id="description" name="description" />
        </li>
        <li>
            <label for="latitude">latitude</label>
            <input type="text" id="latitude" name="latitude" />
        </li>
        <li>
            <label for="longitude">longitude</label>
            <input type="text" id="longitude" name="longitude" />
        </li>
        <li>
            <label for="image">image</label>
            <input type="file" id="image" name="image" style="width: 178px;"/>
        </li>
        <li>
            <label for="icon">icon</label>
            <input type="file" id="icon" name="icon" style="width: 178px;"/>
        </li>
        <li>
            <label for="task_location">task location?</label>
            <input type="radio" name="task_location" value="Yes" class="is_task_location" />Yes
            <input type="radio" name="task_location" value="No" class="is_task_location" />No</li>
        <ol id="task_location_parent" class="formset">
            <li><strong>Task location:</strong>

            </li>
            <li>
                <label for="task_latitude">latitude</label>
                <input type="text" id="task_latitude" name="task_latitude" />
            </li>
            <li>
                <label for="task_longitude">longitude</label>
                <input type="text" id="task_longitude" name="task_longitude" />
            </li>
            <li>
                <label for="task_radius">radius</label>
                <input type="text" id="task_radius" name="task_radius" />
            </li>
        </ol>
        <li>
            <label for="task_text">task text?</label>
            <input type="radio" name="task_text" value="Yes" class="is_task_text" />Yes
            <input type="radio" name="task_text" value="No" class="is_task_text" />No</li>
        <ol id="task_text_parent" class="formset">
            <li><strong>Task text:</strong>

            </li>
            <li>
                <label for="task_question">question</label>
                <input type="text" id="task_question" name="task_question" />
            </li>
            <li>
                <label for="task_answer">answer</label>
                <input type="text" id="task_answer" name="task_answer" />
            </li>
        </ol>
        <li>
            <label for="task_choice">task choice?</label>
            <input type="radio" name="task_choice" value="Yes" class="is_task_choice" />Yes
            <input type="radio" name="task_choice" value="No" class="is_task_choice" />No</li>
        <ol id="task_choice_parent" class="formset">
            <li><strong>Task choice:</strong>

            </li>
            <li>
                <label for="task_question">question</label>
                <input type="text" id="task_question" name="task_question" />
            </li>
            <li>
                <label for="task_answer1">answer1/s_code_1</label>
                <input type="text" id="task_answer1" name="task_answer1" />
                <input type="number" id="succsess_code_1" name="succsess_code_1" style="width: 50px;">
            </li>
            <li>
                <label for="task_answer2">answer2/s_code_2</label>
                <input type="text" id="task_answer2" name="task_answer2" />
                <input type="number" id="succsess_code_2" name="succsess_code_2" style="width: 50px;" />
            </li>
            <li>
                <label for="task_answer3">answer3/s_code_3</label>
                <input type="text" id="task_answer3" name="task_answer3" />
                <input type="number" id="succsess_code_3" name="succsess_code_3" style="width: 50px;" />
            </li>
        </ol>
        <li>
            <label for="task_hint">task hint?</label>
            <input type="radio" name="task_hint" value="Yes" class="is_task_hint" />Yes
            <input type="radio" name="task_hint" value="No" class="is_task_hint" />No</li>
        <ol id="task_hint_parent" class="formset">
            <li><strong>Task hint:</strong>

            </li>
            <li>
                <label for="task_hint_text">hint text / cost</label>
                <input type="text" id="task_hint_text" name="task_hint_text" />
                <input type="number" id="task_hint_text_cost" name="task_hint_text_cost" style="width: 50px;" />
            </li>
            <li>
                <label for="task_hint_image">hint image / cost</label>
                <input type="file" id="task_hint_image" name="task_hint_image" style="width: 178px;"/>
                <input type="number" id="task_hint_image_cost" name="task_hint_image_cost" style="width: 50px;" />
            </li>
            <li>
                <label for="task_hint_sound">hint sound / cost</label>
                <input type="file" id="task_hint_sound" name="task_hint_sound" style="width: 178px;"/>
                <input type="number" id="ttask_hint_sound_cost" name="task_hint_sound_cost" style="width: 50px;" />
            </li>
        </ol>
    </ol>
    
    	<input type="submit" />
</fieldset>
        		</ul>
        		 
        		 
        		 
        		 <ul id="jquerytuts" class="hide">
        		    <li><a href="http://css-tricks.com/anythingslider-jquery-plugin/">Anything Slider jQuery Plugin</a></li>
        		    <li><a href="http://css-tricks.com/moving-boxes/">Moving Boxes</a></li>
        			<li><a href="http://css-tricks.com/simple-jquery-dropdowns/">Simple jQuery Dropdowns</a></li>
        			<li><a href="http://css-tricks.com/creating-a-slick-auto-playing-featured-content-slider/">Featured Content Slider</a></li>
        			<li><a href="http://css-tricks.com/startstop-slider/">Start/Stop Slider</a></li>
        			<li><a href="http://css-tricks.com/banner-code-displayer-thing/">Banner Code Displayer Thing</a></li>
        			<li><a href="http://css-tricks.com/highlight-certain-number-of-characters/">Highlight Certain Number of Characters</a></li>
        			<li><a href="http://css-tricks.com/auto-moving-parallax-background/">Auto-Moving Parallax Background</a></li>
        		 </ul>
        		 
        		 <ul id="classics" class="hide">
                    <li><a href="http://css-tricks.com/css-wishlist/">Top Designers CSS Wishlist</a></li>
                    <li><a href="http://css-tricks.com/what-beautiful-html-code-looks-like/">What Beautiful HTML Code Looks Like</a></li>
                    <li><a href="http://css-tricks.com/easily-password-protect-a-website-or-subdirectory/">Easily Password Protect a Website or Subdirectory</a></li>
                    <li><a href="http://css-tricks.com/how-to-create-an-ie-only-stylesheet/">IE-Only Stylesheets</a></li>
                    <li><a href="http://css-tricks.com/ecommerce-considerations/">eCommerce Considerations</a></li>
                    <li><a href="http://css-tricks.com/php-for-beginners-building-your-first-simple-cms/">PHP: Build Your First CMS</a></li>
        		 </ul>
        		 
        	 </div> <!-- END List Wrap -->
         
         </div> <!-- END Organic Tabs (Example One) -->
		 
		 
	
		 
	
	</div>


</body>
